.factory {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.factory-text {
  width: 432px;
  padding-top: 15px;
}

.factory-title {
  margin-bottom: 25px;
  padding: 15px 25px;
  background: #ff9d00;
  font-size: 28px;
  color: #ffffff;
}

.factory-subtitle {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
body {
  font: Tahoma, sans-serif;
}
.map {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

.map-address {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
}

.map-phone {
  margin-top: 50px;
  margin-bottom: 34px;
  display: -webkit-box;
  display: flex;
}

.map-mail {
  margin-top: 45px;
  display: -webkit-box;
  display: flex;
}

.map-img {
  min-width: 20px;
}

.map-title {
  font-size: 18px;
  font-weight: 500;
}

.map_button {
  margin-left: 20px;
}

.map p {
  vertical-align: top;
}

.contact-wrap {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 33px 35px 40px 38px;
  background-color: white;
}
.offer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  padding-bottom: 64px;
  padding-top: 64px;
  background: #151515 url("../img/popupBG.png") center no-repeat;
  background-size: cover;
}

.offer-title {
  line-height: 35px;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 25px;
}

.offer-subtitle {
  font-size: 26px;
}

.offer-label {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 10px;
}
.slider {
  width: 100%;
  max-width: 528px;
  margin: auto;
}

.slider-img {
  width: 100%;
}

.slider .slick-arrow {
  background-color: #ff9d00;
  height: 70px;
  width: 20px;
}

.slider .slick-arrow:hover {
  background-color: #ff9d00;
}

.slider-nav {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  max-width: 528px;
  padding-left: 24px;
  padding-right: 24px;
}

.slider-nav-el {
  margin-right: 3px;
}

.slider-nav .slick-prev:before,
.slider-nav .slick-next:before {
  content: none;
}

.slider-nav .slick-arrow {
  width: 15px;
  height: 100%;
  border: solid 1px #ff9d00;
}

.slider-nav .slick-arrow:hover {
  background-color: #ff9d00;
  color: white;
  cursor: pointer;
}

.slick-next {
  right: 0px;
}
.button {
  padding: 13px 18px;
  color: white;
  background-color: #ff9d00;
  border-radius: 5px;
  border: #ff9d00;
  font-size: 14px;
  padding-right: 25px;
  padding-left: 25px;
}

.button:hover {
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_spec {
  padding: 20px;
}

.button_offer {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 17px;
}

.form-input {
  padding: 20px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  text-align: center;
}

.form-input_wide {
  width: 300px;
}

.form-input-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -20px;
  top: -30px;
  cursor: pointer;
}

.header-button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header-button_text {
  align-self: center;
  padding-left: 8px;
}

.popup-button {
  min-width: 160px;
  padding: 20px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.popup {
  display: -webkit-box;
  display: flex;
  position: fixed;
  left: 50%;
  top: 100px;
  max-width: 752px;
  width: 92%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
}

.popup-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -20px;
  top: -30px;
  cursor: pointer;
}

.popup-title {
  width: 100%;
  background-color: #ff9d00;
  font-size: 25px;
  font-weight: 500;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 70px;
  -webkit-box-align: center;
  align-items: center;
}

.popup-form {
  display: -webkit-box;
  display: flex;
  background: #151515 url("../img/popupBG.png") center no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 300px;
}

.popup-form-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 15px;
}

.popup-form-subtitle {
  font-size: 26px;
  font-weight: 300;
  line-height: 35px;
  margin: 0;
}

.label {
  margin-top: 55px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

body {
  font-family: 'Roboto';
}

.header {
  padding-top: 25px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: flex;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.header-logo {
  margin-left: 40px;
  background-size: 100%;
  width: 191px;
  height: 61px;
  background: url("../img/header_logo.png") center no-repeat;
}

.header_contacts {
  display: -webkit-box;
  display: flex;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  align-content: flex-end;
  height: 61px;
  margin-right: 40px;
}

.header_contacts_nums {
  font-size: 17px;
  margin-right: 10px;
}

.main {
  position: relative;
  margin-top: 20px;
  padding: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: #151515 url("../img/topBG.png") center no-repeat;
  background-size: cover;
  color: white;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-img {
  width: 40%;
  margin-right: 30px;
  z-index: 1;
}

.main-content {
  z-index: 1;
}

.main-content-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 10px;
}

.main-content-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 24px;
}

.main-content-text {
  max-width: 421px;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 20px;
}

.main-content-text_spec {
  text-transform: uppercase;
  font-weight: 700;
}

.wrap {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.advantages {
  margin: auto;
  max-width: 1000px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}

.advantage {
  width: 30%;
  min-width: 254px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.advantage p {
  color: #f39003;
  font-size: 29px;
  font-weight: 900;
  margin-bottom: 15px;
}

.advantage span {
  font-size: 31px;
  font-weight: 900;
  text-transform: uppercase;
}

.advantage sup {
  vertical-align: super;
  font-size: smaller;
}

.invisible {
  color: #f4f4f4;
}

.features {
  margin: auto;
  max-width: 1000px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 27px;
  padding-bottom: 30px;
}

.feature {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 30%;
  padding: 15px 3px;
  background-color: #ffff;
  margin-bottom: 20px;
  margin-top: 15px;
}

.feature-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.feature-subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.feature-img {
  margin-right: 10px;
}

.content {
  background-color: #f4f4f4;
}

.production {
  text-align: center;
  margin-top: 57px;
}

.production-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.production-wrap {
  margin: auto;
  flex-wrap: wrap;
  display: -webkit-box;
  display: flex;
  max-width: 1100px;
  justify-content: space-around;
}

.prod {
  width: 40%;
  margin: auto;
  margin-bottom: 25px;
}

.prod-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 19.94px;
  margin-top: 19px;
  margin-bottom: 28px;
}

.prod-img {
  width: 100%;
}

.button-white {
  background-color: inherit;
  border: solid 1px #9b9b9b;
  color: #373737;
  margin-right: 12px;
}